            <footer>
               <p class="text-muted credit">&copy; {{ site.time | date: '%Y' }} {{ site.name }} &middot; Bristol, United Kingdom &middot; <a href='http://validator.w3.org/check?uri=http%3A%2F%2Fwww.lewisbuckley.co.uk&charset=%28detect+automatically%29&doctype=Inline&group=0'>Valid HTML5</a> &middot; {{ site.time }}</p>
            </footer>
            <script src="/js/jquery-1.10.2.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/lb.js"></script>
        </div>
    </body>
</html>
