    </div>
    <style>
    .showcase-wrapper {background-image: url("/images/showcase.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
    <div class="showcase-text">
        <span class="badge lazy"><smaller>WELCOME</smaller></span>
        <br>
        We create clever websites for small, but growing businesses
        <br>
        <a href="/clever-websites">
            <button type="button" class="btn btn-default showcase-button">Read More</button>
        </a>
    </div>
</div>
    <div class="container">

